@charset "UTF-8";
/*==================================================================
# 設定
================================================================= */

/* 色
-------------------------------------------------------------*/
$color-text-base: #333;


/* レイアウト値
-------------------------------------------------------------*/
$layout-width-canvas: 1440px;
$layout-width-inner: 1100px;


/* 階層
-------------------------------------------------------------*/
$layer: (
  modal: 100, // モダール
  drawer: 40, // ドロワー
  floating: 30, // フローティングアイテム
  header: 20, // ヘッダー
  footer: 10, // フッター
  default: 1,
);

/* ブレークポイント
-------------------------------------------------------------*/
 // マップ型変数breakpointsを定義
$breakpoints: (
    'sm': 'screen and (max-width: 767px)',
    'md': 'screen and (min-width: 768px)',
) !default;

/* メディアクエリー
-------------------------------------------------------------*/
@mixin  mq($breakpoint: md) {
// map-get(マップ変数型,キー)で値を取得
@media #{map-get($breakpoints, $breakpoint)} {
    // この中をカスタムできる
    @content;
}

}

/*==================================================================
# 初期化
================================================================= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
  font-size: 1.6rem;
  color: $color-text-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

img,svg {
  width: 100%;
  vertical-align: bottom;
  height: auto;
  border: none;
}

a {
    text-decoration: none;
    display: inline-block;

    &:hover {
        opacity: 0.7;
        transition: .3s;
    }
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

/*==================================================================
#  補完クラス
================================================================= */

/* PCだけ非表示
-------------------------------------------------------------*/
.hidden-pc {
  @include mq('md') {
    display: none;
  }
}

/*タブレットだけ非表示 
-------------------------------------------------------------*/
.hidden-md {
  @include mq('md') {
    display: none;
  }
}

/*スマホだけ非表示 
-------------------------------------------------------------*/
.hidden-sm {
  @include mq('sm') {
    display: none;
  }
}

/* 共通クラス
-------------------------------------------------------------*/
.section-wrapper {
    padding: 60px 0;

    @include mq('sm'){
        padding: 40px 0;
    }

    &:first-of-type {
        position: relative;
        padding-top: 120px;

        @include mq('sm'){
            padding-top: 78px;
        }

        &::after {
            content: '';
            width: 100vw;
            height: 160px;
            display: block;
            background-color: #f2f2f2;
            position: absolute;
            bottom: 0;
            z-index: -1;
        }
    }

    &:last-of-type {
        padding-bottom: 120px;

        @include mq('sm'){
            padding-bottom: 40px;
        }
    }
}

.section-title {
    font-size: 3.2rem;
    font-weight: 800;
    letter-spacing: .068em;
    margin-bottom: 30px;

    @include mq('sm'){
        font-size: 2.8rem;
    }
}

.content-wrapper {
    max-width: $layout-width-inner;
    margin: 0 auto;
    padding: 0 4vw;
    box-sizing: content-box;

}

.flex-box {
    @include mq('md'){   
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.gray-bg {
    background-color: #F2F2F2;
}

.util-link {
    display: block;
    background-color: #000;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: .015em;
    width: 160px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    margin-top: 30px;

    @include mq('sm'){
        font-size: 1.1rem;
    }
}

.lines {
    line-height: 2;
}

.ml-auto {
    margin-left: auto;

    @include mq('sm'){
        margin-left: 0;
    }
}

/*==================================================================
# header
================================================================= */
.header {
    background-color: brown;
}

.site-title {
    width: 260px;
    position: fixed;
    top: 31px;
    left: 4vw;
    z-index: 1;

    &.black svg path {
        fill: #333;
        transition: fill .3s;
    }

    @include mq('sm'){
        top: 20px;
        width: 190px;
    }
}

.header-nav {
    font-size: 2rem;
    font-weight: 800;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 36.1vw;
    text-align: center;
    padding: 120px 0 0;
    background: rgba(34,34,34, .95);
    z-index: 2;
    transform: translateX(100%);
    opacity: 0;
    transition: transform .3s, opacity .3s;

    &.open {
        transform: translateX(0);
        opacity: 1;
        transition: transform .3s ,opacity.3s;
    }
}

.nav-list {

}

.nav-item {
    margin-bottom: 30px;

    &:first-of-type {
        margin-bottom: 40px;
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

.nav-item-link {
    color: #fff;
}

.burger-btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 36px;
    right: 4vw;
    z-index: 3;
    
    @include mq('sm'){
        top: 24px;
    }

    &.black {
        .bar {
            background-color: #333;
            transition: background-color .3s;
        }

        .menu {
            color: #333;
            transition: color .3s;
        }
    }
}

.bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;

    &.cross {
        &.bar-top {
            transform: rotate(30deg)translateY(2px);
            transition: transform .3s;
        }
        &.bar-mid {
            opacity: 0;
        }
        &.bar-bottom {
            transform: rotate(-30deg)translateY(-2px);
            transition: transform .3s;
        }
    }
}

.bar-top {
    transform: translateY(-4px);
    transition: transform.3s;
}

.bar-bottom {
    transform: translateY(4px);
    transition: transform.3s;

}

.menu {
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    margin-left: 5px;
}

body.noscroll {
    overflow: hidden;
}

.burger-musk {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(34,34,34,.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index:1;
}


/*==================================================================
# main
================================================================= */

/* first view
-------------------------------------------------------------*/
.fv {
    height: 100vh;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #222;
        height: 100vh;
        width: 50%;
        z-index: -1;
    }
}

.kv-wrapper {
    background: url(../img/kv-img.jpg) no-repeat center center/cover;
    height: 86.86vh;
    width: 78.571%;
    position: relative;
}

.copy-wrapper {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    color: #fff;

    @include mq('sm'){
        transform:translate(15%, -50%);
    }
}

.copy-jp {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 4px;

    @include mq('sm'){
        font-size: 1.6rem;
    }
}

.copy-company {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;

    @include mq('sm'){
        font-size: 1.6rem;
    }
}

.main-copy {
    font-size: 7.2rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.2;

    @include mq('sm'){
        font-size: 5.6rem;
    }
}

/* about
-------------------------------------------------------------*/
.about {

}

.about-bg {
    background: url(../img/about-img.jpg) no-repeat center center/cover;
    padding: 110px 50px;

    @include mq('sm'){
        padding: 50px 15px;
    }
}

.about-content {
    background-color: rgba(255,255,255,.95);
    width: 590px;
    max-width: 100%;
    padding: 50px 30px;

    @include mq('sm'){
        margin: 0 auto;
    }
}

/* l-section-wrapper(works & culture)
-------------------------------------------------------------*/
.s-section-wrapper {
    width: 47.2727%;

    @include mq('sm'){
        width: 520px;
        max-width: 100%;

        & + & {
            margin-top: 40px;
        }
    }
}

.s-content-wrapper {

}

.section-text {
    margin-top: 30px;

    @include mq('sm'){
        font-size: 1.4rem;
    }
}


/* topics
-------------------------------------------------------------*/
.topics {

}

.topics-list {
    max-width: 700px;
}

.topics-item {
    border-bottom: 1px solid #DDD;
    padding-bottom: 11px;
    margin-bottom: 30px;

    @include mq('sm'){
        padding-bottom: 8px;
        margin-bottom: 20px;
    }
}

.topics-item-link {
    
}

.topics-date {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    color: #CECECE;
    margin-bottom: 12px;
}

.topics-title {
    font-size: 1.4rem;
    font-weight: 700;
    color: $color-text-base;

    @include mq('sm'){
        font-size: 1.2rem;
        letter-spacing: .068em;
    }
}  


/* contact
-------------------------------------------------------------*/
.contact-flex {
    @include mq('md'){   
        flex-direction: row-reverse;
    }
}

.contact-img {
    width: 52.7272%;

    @include mq('sm'){
        width: 520px;
        max-width: 100%;
        margin-bottom: 30px;
    }
}

.contact-content {
    width: 40%;
    
        @include mq('sm'){
            width: 510px;
            max-width: 100%;
        }
}

.contact-text {

}



/*==================================================================
# footer
================================================================= */
.footer {
    background-color: #525252;
    line-height: 50px;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    letter-spacing: .015em;
}
